html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Lora', serif;
  background-color: white;
  padding: 0 20px 20px 20px;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #334433;
    border-bottom: 6px solid red;
    border-radius: 4px;
    box-shadow: 1 1 10px black;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
p.button {
  margin: auto;
}
.button {
  color: green;
  margin: auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  background-color: lightgrey;
  width: 300px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition-duration: 0s; /* Safari */
  transition-duration: 0s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
