html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Lora', serif;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: darkslategrey;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
