---
---
@import "main";

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  border-width: 1px;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  display:block;
  margin: 0px 0px 0px;
}

a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.date {
  font-family: 'Rubik', sans-serif;
  font-size: .9em;
}

body {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  max-width: 600px;
  box-sizing: border-box;
  background-color: #e6eaf2;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

img {
    max-width:100%;
    height:auto;
}
