---
---
@import "main";


a:visited, a:link, a:active
{
    color:inherit;
    text-decoration: underline;
}

a:hover
{
  background-color:#f49542;
}

.header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  text-decoration: none;
  display:block;
  margin: 0px 0px 0px;
}

.title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.date {
  font-family: 'Libre Franklin', sans-serif;
  font-size: .9em;
}

body {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  max-width: 600px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

img {
    max-width:100%;
    height:auto;
}
